@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>425.555.0100</span>
    </p>
    <p>
        <span class="label">After Hours:</span>
        <span>425.555.0199</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:Support@example.com">Support@example.com</a></span>
    </p>
    <p>
        <span class="label">Marketing:</span>
        <span><a href="mailto:Marketing@example.com">Marketing@example.com</a></span>
    </p>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:General@example.com">General@example.com</a></span>

    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps?q=43-77+9th+St,+LIC,+New+York,+NY&amp;sll=40.750845,-73.951113&amp;hl=en&amp;ie=UTF8&amp;hq=&amp;hnear=43-77+9th+St,+Long+Island+City,+New+York+11101&amp;ll=40.750845,-73.951113&amp;spn=0.025033,0.038581&amp;t=m&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://www.google.com/maps?q=43-77+9th+St,+LIC,+New+York,+NY&amp;sll=40.750845,-73.951113&amp;hl=en&amp;ie=UTF8&amp;hq=&amp;hnear=43-77+9th+St,+Long+Island+City,+New+York+11101&amp;ll=40.750845,-73.951113&amp;spn=0.025033,0.038581&amp;t=m&amp;z=14&amp;iwloc=A&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
    <p>
        One Microsoft Way<br />
        Redmond, WA 98052-6399
    </p>
</section>