<header id="topNavHeader">
    <div class="container">
        <div class="brand ">
            <div class="pull-left margin-right">
                <h1>Zeeshan Raja</h1>
            </div>
            <div class="pull-left">
                <ul class="unstyled">
                    <li>330 Stanley Ave        
                    </li>
                    <li>Staten Island, NY 10301
                    </li>
                    <li>zraja90@gmail.com</li>
                </ul>
            </div>
            <div class="links">
                <div class="pull-left"></div>
                <div class="pull-left"></div>
                <div class="pull-left"></div>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>
</header>
