<header id="topNavHeader">
    <div class="container brand">
        <div class="pull-left margin-right">
            <h1>Zeeshan Raja</h1>
        </div>
        <nav>
            <ul class="nav nav-pills">
                <li id="home">
                    <a href="#">
                        Zraja90@gmail.com
                    </a>
                </li>
                <li>
                    @Html.ActionLink("Resume","Resume","Home")
                </li>
                <li>
                    <a href="#">
                        Linked
                    </a>
                </li>
            </ul>
        </nav>
        <div class="clearfix"></div>
    </div>
</header>
