@model ToolDepot.Areas.Admin.Models.Products.ApproveReviewModel

@{
    ViewBag.Title = "ApproveReviews";
}

<h2>ApproveReviews</h2>

<fieldset>
    <legend>ApproveReviewModel</legend>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
