<div>
    <div class="span3">
        Product 1
    </div>
    <div class="span3">
        Product 1
    </div>
    <div class="span3">
        Product 1
    </div>
     <div class="span3">
        Product 1
    </div>
    <div class="clearfix"></div>
</div>
<div class="float-left">
    <p>&copy; @DateTime.Now.Year - Tool Depot Inc.</p>
</div>
<div class="clearfix"></div>