<footer class="footer">
    <div class="pull-left">
        Subscription Module
    </div>
    <div class="pull-left">
        <div class="">
            Product 1
        </div>
        <div class="">
            Product 1
        </div>
        <div class="">
            Product 1
        </div>
        <div class="">
            Product 1
        </div>

    </div>
    <div class="clearfix"></div>
    <div class="margin-top">
        <p class="pull-left margin-right">&copy; @DateTime.Now.Year - Tool Depot Inc.</p>
        <div class="pull-left">
        Home Contact Us About Us Products
            </div>
    </div>    
</footer>
