<header id="topNavHeader">
    <div class="container">
        <div class="pull-left brand margin-right">
            <a href="@Url.Action("Index", "Home")" class="brand">
                <img src="/content/css/images/ToolDepotLogo.jpg" class="logo" alt="logo" />
            </a>
        </div>
        <ul class="pull-left brand">
            @*<li id="home">
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("Request A Quote","RequestAQuote","Products")
                </li>*@
            <li>
                For inquiries please contact us at:
                <ul class="unstyled">
                    <li>718-786-1500</li>
                    <li>718-786-1502</li>
                    <li>tooldepot786@gmail.com</li>
                </ul>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
</header>
