@model ToolDepot.Models.Products.CategoriesModel

@{
    ViewBag.Title = "AllCategories";
}

<h2>AllCategories</h2>


@foreach (var item in Model.Categories)
{
    <div class="product">
        <a href="/Products/Category/@item.Id">
            <img src="@item.CategoryImage" class="img-rounded image-small align-center" />
            <div class=""></div>
            <div class="margin-top-10 margin-bottom-10">
                @item.CategoryName
            </div>

        </a>
    </div>
}