@{
    ViewBag.Title = "RepairServices";
}

<h2>Tool & Equipment Repairs</h2>

<p>
    All repairs are done in-house, by our own qualified mechanics, who have a wealth of experience in this field, and who are always up-to-date with the new technologies. As a result, repair turn-around time and quality work is always kept at the highest desirable level possible-something that benefits both our customers and our company. 
</p>
<p>
    All repair estimates (diagnostic work) are provided based on a minimum fee, see details below, or call our service department at 718-786-1500 or 
    <a href="#myRepairApptModal" role="button" data-toggle="modal">Fill out this form</a>
</p>
