@using ToolDepot.Core.Domain.Products
@using ToolDepot.Domain.Products
@model IList<ToolDepot.Core.Domain.Products.FeaturedProducts>

@foreach (FeaturedProducts featuredProduct in Model)
{
    <div class="span3">
        @if (featuredProduct.CategoryId != ViewBag.LastCategoryId)
        {
            <div style="position: relative">
                @featuredProduct.CategoryName
            </div>
            ViewBag.LastCategoryId = featuredProduct.CategoryId;
        }
        <ul class="unstyled">
            @foreach (Product product in featuredProduct.Products)
            {
                <li>
                    <a href="#">
                        @product.Name
                    </a>
                </li>
            }
        </ul>
    </div>
}
<div class="clearfix"></div>
