@model List<ToolDepot.Domain.Products.Product>

@for (int i = 0; i < 4; i++)
{
    <div class="span3">
        @for (int j = 0; j < Model.Count;j++)
        {
                <div style="position: relative">
                    @Model[i].Category
                </div>
        }
        @{
            if (ViewBag.LastCategory != Model[i].CategoryName)
            {
            
            }
        
            ViewBag.LastCategory = Model[i].CategoryName;
        } 
        <ul class="unstyled">
            <li>
                <a href="#">
                    @Model[i].Products.Name
                </a>
            </li>
        </ul>
    </div>
}
<div class="clearfix"></div>
