<style>
    .top-row {
        padding: 0 40px;
        margin-bottom: 35px;
    }

    .bottom-row {
        padding: 0 40px;
        margin-bottom: 35px;
    }

    .top-column {
        position: absolute;
        top: 0;
        height: 100px;
    }
</style>
<div>
    <div style="border: 1px solid #ccc" >&nbsp;</div>
</div>
<div class="">
    <div class="span4">
        <h4>Why Rent? Only pay for what you need.</h4>
        <p>
            Why spend a lot of money on something you’ll use once?  For those rare jobs when a special piece of equipment is needed, renting is the cost-effective way to get what you need without spending too much
        </p>
    </div>
    <div class="span4">
        <h4>Will This Really Get The Job Done For Me?</h4>
        <p>
            Ever buy a tool only to find out it’s not what you really needed?  Finding out a tool or piece of equipment doesn’t perfectly fit your needs after you’ve made the purchase is a costly discovery.  If you’re simply not sure, rent first. Try it out before committing to a purchase.
        </p>
    </div>
    <div class="span4">
        <h4>No Storage...No Maintenance...No Hassles</h4>
        <p>
            With Tool Depot, you eliminate all the headaches of storing, maintaining and repairing equipment by renting.  Get what you need when you need it and enjoy the assurance of a performance guarantee. We handle the maintenance, the storage and any repairs should something fail. 
        </p>
    </div>
    <div class="clearfix"></div>
</div>
<div id="myCarousel" class="carousel slide hide">
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="item">
            <div class="homepage-image-holder">
                <div class="top-row">
                    <div class="top-column first-image">
                        <img src="/Content/images/Brochure/BoomLift.jpg" class="home-image" />
                    </div>
                    <div class="top-column second-image">
                        <img src="/Content/images/Brochure/ScissorLift.jpg" class="home-image" />
                    </div>
                    <div class="top-column third-image">
                        <img src="/Content/images/Brochure/BobCatS650.jpg" class="home-image" />
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="bottom-row">
                    <div class="column">
                        <img src="/Content/images/Brochure/BobCatE35.jpg" class="home-image" />
                    </div>
                    <div class="column">
                        <img src="/Content/images/Brochure/ImerMightSmall50.jpg" class="home-image" />
                    </div>
                    <div class="column">
                        <img src="/Content/images/Brochure/ImerMightSmall50.jpg" class="home-image" />
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="carousel-caption">
                <h4>Power Tools: Drills, etc</h4>
                <p>Description</p>
            </div>
        </div>
        <div class="item">
            <div class="homepage-image-holder">
                <div class="first-image">
                    <img src="/Content/images/Brochure/BoomLift.jpg" class="home-image" />
                    <div>Boom Lift</div>
                </div>
                <div class="second-image">
                    <img src="/Content/images/Brochure/BoomLift.jpg" class="home-image" />
                    <div>Boom Lift</div>
                </div>
                <div class="third-image">
                    <img src="/Content/images/Brochure/BoomLift.jpg" class="home-image" />
                    <div>Boom Lift</div>
                </div>
                <div class="fourth-image">
                    <img src="/Content/images/Brochure/BoomLift.jpg" class="home-image" />
                    <div>Boom Lift</div>
                </div>
                <div class="fifth-image">
                    <img src="/Content/images/Brochure/BoomLift.jpg" class="home-image" />
                    <div>Boom Lift</div>
                </div>
            </div>
            <div class="carousel-caption">
                <h4>Machinery Tools: Pressure Washers, etc</h4>
                <p>Description</p>
            </div>
        </div>
        <div class="item">
            <div class="homepage-image-holder">
                <div class="first-image">
                    <img src="/Content/images/Brochure/BoomLift.jpg" class="home-image" />
                    <div>Boom Lift</div>
                </div>
                <div class="second-image">
                    <img src="/Content/images/Brochure/BoomLift.jpg" class="home-image" />
                    <div>Boom Lift</div>
                </div>
                <div class="third-image">
                    <img src="/Content/images/Brochure/BoomLift.jpg" class="home-image" />
                    <div>Boom Lift</div>
                </div>
                <div class="fourth-image">
                    <img src="/Content/images/Brochure/BoomLift.jpg" class="home-image" />
                    <div>Boom Lift</div>
                </div>
                <div class="fifth-image">
                    <img src="/Content/images/Brochure/BoomLift.jpg" class="home-image" />
                    <div>Boom Lift</div>
                </div>
            </div>
            <div class="carousel-caption">
                <h4>Eqiupment: Lifts, etc</h4>
                <p>Description</p>
            </div>
        </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
