@model ToolDepot.Models.UnderConstructionModel

@{
    ViewBag.Title = "Tool Rental, Equipment, Repair Services | Tool Depot Inc";
    ViewBag.Description = "Tool Rentals, Equipment Rentals, Tool Sales, Equipment Sales, Repair Services, Hardware, Machinery Tools, Power Tools, Boom Lift";
    ViewBag.Keywords = "Tool Rentals, Equipment Rentals, Tool Sales, Equipment Sales, Repair Services, Hardware, Machinery Tools, Power Tools, Boom Lift";
}

<div class="span12">
    @for (int i = 1; i <= 4; i++)
    {
        <div class="span3">
            <div style="position: relative">Power Tools @i <img src="/Content/images/BoschDrill.jpg" style="height: 100px; width:105px"/></div>
            <ul class="unstyled">
                @for (int j = 1; j <= 4; j++)
                {
                    <li>
                        <a href="#">
                            Tool @j
                        </a>
                    </li>
                }
            </ul>
        </div>
    }
</div>
