@{
    ViewBag.Title = "Tool Rental, Equipment Rental, & Repair Services | Tool Depot";
    ViewBag.Description = "Shop for all your tool & equipment needs: Boom Lift, Scissor Lift, Drills, Generators, Power Tools, Machinery Tools, Mason Frames, Scaffolding, and more at Tool Depot. The one stop shop for all your tool needs";
    ViewBag.Keywords = "Tool Rentals, Equipment Rentals, Tool Sales, Equipment Sales, Repair Services, Hardware, Machinery Tools, Power Tools, Boom Lift";
}
<h1>One Stop Shop For All Your Tool Needs</h1>
@Html.Action("ProductCategories")
<div id="myCarousel" class="carousel slide span9">
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="item">
            <img src="/Content/css/images/BoschDrill.jpg"/>
            <div class="carousel-caption">
                <h4>Bosch</h4>
                <p>Description</p>
            </div>
        </div>
        <div class="item">
            <img src="/Content/css/images/BoschDrill.jpg"/>
            <div class="carousel-caption">
                <h4>Makita</h4>
                <p>Description</p>
            </div>
        </div>
        <div class="item">
            <img src="/Content/css/images/BoschDrill.jpg"/>
            <div class="carousel-caption">
                <h4>Boom</h4>
                <p>Description</p>
            </div>
        </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<div class="span12">
    @Html.Action("FeaturedProductCategory")
    
</div>
<div class="clearfix"></div>
<script>
    $(".carousel-inner .item:first-child").addClass("active");
</script>
