@model ToolDepot.Models.UnderConstructionModel

@{
    ViewBag.Title = "Tool Depot Inc";
    ViewBag.Description = "Tool Rentals, Equipment Rentals, Tool Sales, Equipment Sales, Repair Services, Hardware, Machinery Tools, Power Tools, Boom Lift";
    ViewBag.Keywords = "Tool Rentals, Equipment Rentals, Tool Sales, Equipment Sales, Repair Services, Hardware, Machinery Tools, Power Tools, Boom Lift";
}
<div id="homePage">
    <div class="under-construction span4">
        <img alt="Under Construction" src="/Content/images/Under_Construction.jpg" class="image" />
    </div>
    <div class="span8 ">
        <div class="alert alert-info">
            <h2>Subscribe to updates</h2>
            <p>Get all the latest updates on progress on our website and an email when we launch</p>
            @using (Html.BeginForm())
            {
                <div class="form-inline">
                    <fieldset>
                        <legend class="hide"></legend>
                        @Html.TextBoxFor(m => m.EmailAddress, new { placeholder = "Enter Your Email Address", type = "email", required = "" })
                        @Html.ValidationMessageFor(m => m.EmailAddress)
                        <input type="submit" class="btn btn-primary" value="Submit">
                    </fieldset>
                </div>
            }
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div>
    <img class="margin brochure" src="/Content/images/Brochure.jpg" alt="Brochure" />
    <div class="caption margin brochure">Prices and offers are subject to change.</div>
</div>
