@model ToolDepot.Models.Products.UnderConstructionModel

@{
    ViewBag.Title = "Tool Depot | Tool & Equipment Rental | Repair Services";
    ViewBag.Description = "Tool Rentals, Equipment Rentals, Tool Sales, Equipment Sales, Repair Services, Hardware, Machinery Tools, Power Tools, Boom Lift";
    ViewBag.Keywords = "Tool Rentals, Equipment Rentals, Tool Sales, Equipment Sales, Repair Services, Hardware, Machinery Tools, Power Tools, Boom Lift";
}
<div id="homePage">
    <div class="under-construction span4">
        <img alt="Under Construction" src="/Content/css/images/Under_Construction.jpg" class="image" />
    </div>
    <div class="span8 ">
        <div class="alert alert-info">
            <h2>Subscribe to updates</h2>
            <p>Get all the latest updates on progress on our website and an email when we launch</p>
            @using (Html.BeginForm())
            {
                <div class="form-inline">
                    <fieldset>
                        <legend class="hide"></legend>
                        @Html.TextBoxFor(m => m.UnderConstruction.EmailAddress, new { placeholder = "Enter Your Email Address", type = "email", required = "" })
                        @Html.ValidationMessageFor(m => m.UnderConstruction.EmailAddress)
                        <input type="submit" class="btn btn-primary" value="Submit">
                    </fieldset>
                </div>
            }
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<h1 class="blue">Featured Rental Tools & Equipment</h1>
<style>
    
</style>
<div class="ProductList">
    @foreach(var item in Model.Brochure)
    {
    <div class="pull-left product">
        <img src="/Content/images/Brochure/@item.ProductImage" class="product-image" />
        <div style="" class="title">
            @item.ProductName
        </div>
        <p>@item.ProductDescription</p>
    </div>
    }
    <div class="clearfix"></div>
</div>
<div>
    <div class="caption margin brochure">Prices and offers are subject to change.</div>
</div>

